@charset "utf-8";
/*共通設定*/

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img{
  width: 100%;
  display: block;
}
#second{
  background-image: url("photo/DSC00179.jpg"); /* ←画像パスに差し替え */
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  width: 100vw;
  position: relative;
  flex-direction: column;
}
.black{
  height: 100px;
  width: 300px;
  justify-content: center;
  background-color:rgba(0,0,0,0.5);
  padding: 13px;
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
p{
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.instagram {
 margin-left: 30px;
 margin-right: 30px;
 position: absolute;
 bottom: 19%;
}
.line{
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  bottom: 7%;
}
/*タブレット*/
@media (max-width: 1024px) {
  /*共通設定*/
  /*終わり*/
  
  /*<header class="header">*/
  /*終わり*/
  }
  /*スマホ*/
  @media (max-width: 599px) {
  /*共通設定*/
  /*終わり*/
  }